

.asto-container {
  display: flex;
  flex-direction: row;
  /* margin-bottom: -200px; */
  /* justify-content: center; */
  align-items: center;
}
.conttent{
  margin-top: 50px;
}
.asto-container img {
  width: 150px;
  padding-top: 0px;
  padding-left: 10px;
  animation: moveUpDown 3s ease-in-out infinite; /* Add this line */
}

.home-title {
  font-weight: bold;
  color: #FF4500; /* Orange Red */
  text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.449);
  font-size: 2.5em;
  text-align: left;
  margin-left: 10%;
  font-size: 60px;
}

.home-subtitle {
  font-weight: 500;
  color: #0080ff; /* Dodger Blue */
  text-align: left;
  margin-left: 10%;
  font-size: 1.8em;
  font-weight: 800;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
}

.home-text {
  margin: 0 10%;
  font-size: 1.2em;
  padding: 20px;
  padding-left: 0px;
  /* background-color: rgba(240, 248, 255, 0.7);  */
  border-radius: 10px;
 
  /* box-shadow: 0 2px 2px rgb(255, 255, 255); */
  color: #15ff00;
  text-align: left;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  font-size: 25px;
  /* background-color: rgba(255, 255, 255, 0.103); */
  /* filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.43)) 
          drop-shadow(0 0 2px rgba(255, 255, 255, 0.451)) 
          drop-shadow(0 0 3px rgba(255, 255, 255, 0.438)); */
}
.home {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  height: auto;
  background-image: url('../assets/earth.gif');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  padding-top: 80px;
  padding-bottom: 100px;
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Add the keyframes for the moveUpDown animation */
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .home-title {
    font-size: 2em;
    margin-left: 5%;
  }
  .home-subtitle {
    font-size: 1.1em;
    margin-left: 5%;
  }
  
  .home {
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .home-text {
    margin: 0 5%;
    font-size: 1em;
    padding: 15px;
    /* padding-left: 0px; */
    background-color: rgba(255, 255, 255, 0.274);
    margin-top: 10px;
  }
}
