/* Institute.css */
.institute-page {
    padding: 40px;
    background-color: #f9f9f9;
    background-image: url('../assets/backgrounds/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 100px;
}
.buttonn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap :20px
}
.institute-call-to-action button{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgba(0, 0, 0, 0);
    color: rgb(17, 0, 255);
    border: 0px;
    padding-top: 10px;
    text-shadow: 0 0 1px white;
}
.institute-content {
    background-color: #0000008f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.institute-content p {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    text-align: justify;
}

.institute-content h2 {
    color: #e74c3c;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .institute-page {
        padding: 10px;
    }
}
