/* Apply the DM Serif Display font to the entire institute page, with Roboto as fallback */
.institute-page {
    font-family: 'DM Serif Display', 'Roboto', serif; /* Primary font with fallback */
    padding: 40px;
    background-color: #f9f9f9;
    background-image: url('../assets/backgrounds/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Ensure Roboto is used in specific sections or elements if desired */
.institute-content {
    font-family: 'DM Serif Display', 'Roboto', serif; /* Use DM Serif Display with fallback */
    background-color: #0000008f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.institute-content p {
    font-family: 'Roboto', sans-serif; /* Use Roboto for paragraph text */
    color: #ffffff;
    font-size: 22px;
    margin: 10px 0;
    line-height: 1.6;
    text-align: justify;
    font-weight: 540;
}

.institute-content h2 {
    font-family: 'DM Serif Display', serif; /* Ensure heading uses DM Serif Display */
    color: #e74c3c;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .institute-page {
        padding: 10px;
    }
}
