.product {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/backgrounds/back8.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.product-container {
  font-family: Arial, sans-serif;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.product-image-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}

.product-image-card {
  perspective: 1000px;
  width: 350px;
  height: 550px;
  transition: transform 0.6s, z-index 0.6s;
  position: relative;
}

.product-image-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s, opacity 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.product-image-card:hover {
  transform: scale(1.2);
  z-index: 10;
}

.product-image-card:hover .product-image-card-inner {
  transform: rotateY(180deg);
}

.product-image-card-front,
.product-image-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 4px 4px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-image-card-front {
  background-color: #fff;
}

.product-image-card-back {
  background-color: #444;
  color: white;
  transform: rotateY(180deg);
  overflow-y: auto;
  padding: 20px; 
}

.product-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image-card-back ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  font-size: 0.9em;
}

.product-image-card-back li {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .product-image-gallery {
    flex-direction: column;
  }

  .product-image-card {
    width: 80vw;
    height: 550px;
  }

  .product-image-card:hover {
    transform: scale(1);
  }
}
