/* Apply the DM Serif Display font to the entire second page */
.second-page-container {
  padding: 40px;
  background-color: #f4f4f9;
  background-image: url('../assets/backgrounds/back1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.second-page-central-question {

  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.second-page-good-question {

  color: #ff1900;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-shadow: 0 0 2px rgb(0, 0, 0);
}

.second-page-content {

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.677);
  border-radius: 20px;
  padding: 40px;
}

.second-page-content p {
 
  color: #e9e9e9;
  font-size: 20px;
  margin: 10px 0;
  line-height: 1.6;
  text-align: justify;
  text-shadow: 0 0 2px black;
  font-weight: 600;
}

.second-page-ul {
 
  list-style-type: disc;
  margin-left: 40px;
  color: #3c9eff;
  font-size: 18px;
}

.second-page-ul li {
 
  color: #3c9eff;
  font-size: 20px;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.second-page-a {
  font-family: 'DM Serif Display', serif; /* Ensure the custom font is used here */
  color: #e6e6e6;
  text-decoration: none;
  font-weight: 300;
  background-color: rgb(0, 13, 255);
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  text-shadow: 2px black;
  font-size: 19px;
}

.second-page-a:hover {
  text-decoration: underline;
}

.second-page-buttons {
 
  margin-top: 30px;
  text-align: center;
}

.second-page-buttons button {
 
  background-color: #3498db;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

.second-page-buttons button:hover {
  background-color: #2980b9;
}

.second-page-section {
 
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.second-page-section h2 {
 
  color: #2c3e50;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.second-page-section p {
 
  color: #7f8c8d;
  font-size: 18px;
}

.second-page-student-section {
  background-color: #ecf0f1;
}

.second-page-owner-section {
  background-color: #ffe6e6;
}

@media (max-width: 600px) {
  .second-page-container {
    padding: 10px;
  }
  
  .second-page-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
