.second-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #7abbc3;
    /* background-image: url('../assets/pngtree-space-day-astronaut-purple-image_808095.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .central-question {
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .good-question {
    color: #28a745;
    font-size: 20px;
    font-weight: bold;
  }
  
  .content p {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  .section {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section h2 {
    color: #333;
    font-size: 22px;
    font-weight: bold;
  }
  
  .section p {
    color: #555;
    font-size: 16px;
  }
  
  .student-section {
    background-color: #e0f7fa;
  }
  
  .owner-section {
    background-color: #ffebee;
  }
  