/* Student.css */
.student-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    background-color: #f9f9f9;
    background-image: url('../assets/backgrounds/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.student-heading {
    color: #f9c300;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.student-content p {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    text-align: justify;
}

.student-features-list {
    list-style-type: none;
    margin-left: 0;
    color: #ffffff;
    font-size: 18px;
}

.student-features-list ul {
    list-style-type: disc;
    margin-left: 40px;
}

.student-contact, .student-call-to-action {
    background-color: #00000064;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.student-contact p, .student-call-to-action p {
    color: #2c3e50;
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
}

.student-call-to-action p {
    color: #e74c3c;
    font-weight: bold;
}

.student-listt {
    display: flex;
    flex-direction: row;
}

.student-astronaut-image {
    width: auto;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 991px) {
    .student-astronaut-image {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .student-page {
        padding: 10px;
    }
    ul {
        padding-left: 5px;
    }
    .student-astronaut-image {
        display: none;
    }
}