.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #00000000;
  border: 0px;
  margin-top: 0px;
}

.astronaut {
  width: 150px;
  animation: float 3s ease-in-out infinite;
  margin-top: 180px;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.speech-bubble {
  width: 600px;
  height: 600px;
  background: url('../assets/bubble.png') no-repeat center center / contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  color: #333;
  text-align: center;
  border: 0px;
}
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.speech-bubble p {
  margin: 30px;
  position: relative;
  z-index: 1;
}

.right{
  position: absolute;
  margin :20px;
  bottom: 10px; 
  right: 10px; 
}

.left{
  position: absolute;
  margin :20px;
  bottom: 10px; 
  left: 10px; 
}


.modal-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-button:hover {
  background-color: #0056b3;
}

.skip-button {
  background-color: #ff0000;
}

.skip-button:hover {
  background-color: #cc0000;
}

@media (max-width: 600px) {
  .modal-buttons {
    display: flex;
    gap: 100px;
  }
  .speech-bubble p {
    margin: 10px;
    position: relative;
    z-index: 1;
  }
  .message {
    margin: 0;
    margin-top: -30px;
  }
  .astronaut {
    width: 150px;
    animation: float 3s ease-in-out infinite;
    margin-top: 0;
  }
  .modal-content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #00000000;
    border: 0px;
    margin-top: 100px;
  }

  .modal {
    flex-direction: column;
  }

  .speech-bubble {
    width: 80vw;
    height: 80vw;
    padding: 10px;
    font-size: 16px;
  }

  .astronaut {
    width: 100px;
  }
  
  }

.skip-buttons {
  background-color: #ff0000;
  position: absolute;
  margin :20px;
  top: 10px; 
  right: 10px; 
}