body {
  margin: 0;
  padding-top: 56px;
}

.nav-link.active {
  font-weight: 700;
  text-shadow: 0 0 1px white;
}

.nav-link.active::after, .nav-link:hover::after {
  width: 100%;
  color: red;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(0, 239, 16);
}

.navbar-toggler-icon {
  background-image: url("../assets/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png");
}

/* Navbar.css */
.logo.secondary {
  display: none;
}

@media (min-width: 991px) {
  .logo.secondary {
    display: block;
  }
}

.logo img {
  height: 80px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) 
          drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) 
          drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
}

.navbar {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  background-image: url('../assets/earth.gif');
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  justify-content: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar is on top of other content */
  background-color: #fff; /* Add a background color if needed */
}

body {
  padding-top: 56px; /* Adjust this value if your navbar height changes */
}

.navbar-brand {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  text-align: center;
}

.nav-link {
  color: white;
  font-size: 18px;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  text-decoration: none;
  color: #ffd700; /* Gold color */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s;
  margin-top: 5px;
}

.nav-link:hover::after {
  width: 100%;
}
